@tailwind base;
@tailwind components;
@tailwind utilities;
 
 body {
  background: url('/images/leaf-pattern.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--text-light);
  font-family: 'Inter', sans-serif;
}
